.chat-main

  .group-info
    .info-left__box
      .box-name kkk
      .box-member__list member:oooo

    = link_to "#", class:"info-edit__bth" do
      Edit
    
  .message-list
    .message 
      
      .upper-info 
        .upper-info__taler name
        .upper-info__date 2020/01/06
      .message-text texttext

    .message 
      
      .upper-info 
        .upper-info__taler name
        .upper-info__date 2020/01/06
      .message-text texttext

      .message 
      
      .upper-info 
        .upper-info__taler name
        .upper-info__date 2020/01/06
      .message-text texttext

  .message-fome
    .message-input
      %input{class:"input-box"}
      %input{class:"image", id:"image", type:"file"}
      %label{class: "input-image", for:"image"}
        = icon('fa', 'image')
          
    .send-box 
      %input{name: "commit",class: "submit-btn", type: "submit", value: "Send"}