.side-bar

  .user-name
    .top-item
      .item-name aaaa
      .item-icons 
        = link_to "#" do
          =fa_icon 'edit', class: "item-icons"
        =link_to "#" do
          = fa_icon 'cog', class: "item-icons"
           
  .group-list
    .group
      .group-name test1
      .last-message まだメッセージはありません。

    .group
      .group-name test1
      .last-message まだメッセージはありません。
         
    .group
      .group-name test1
      .last-message まだメッセージはありません。